body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }

  h5 {
    text-align: center;
    color: #525151;
  }
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 10px;
    /* border: none; */
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .book {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .book-info {
    margin-top: 10px;
  }
  
  .book-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  
  .book-buttons button.edit {
    background-color: #286781;
  }
  
  .book-buttons button.delete {
    background-color: #ea4335;
  }
  
  .book-buttons button:hover {
    opacity: 0.8;
  }
  
